.centers {
  height: 30%;
  width: 80%;
  padding-left: 18.5rem;
  padding-bottom: 12rem;
  display: flex;

  &__right-column {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__left-column {
    height: 100%;
    padding-right: 3.2rem;
  }

  &__heading {
    margin-bottom: 6rem;
  }

  &__text-box {
    margin-bottom: 4rem;
  }

  &__item:first-child {
    padding-bottom: 3rem;
  }

  &__img-3 {
    padding-top: 10.3rem;
  }
}
