.header {
  height: 15.5rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-top: 2rem;
  padding-right: 16.5rem;
  padding-left: 16.5rem;

  &__row {
    width: 100%;
  }

  &__top-row {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }

  &__bottom-row {

  }

  &__logo {
    max-width: 31.5rem;
    max-height: 5rem;
  }

  &__info {
  }

  &__info-nav {
    margin-right: auto;
    margin-left: 4.93rem;
  }

  &__main-nav {
    font-size: 1.6rem;
  }
}
