.booking-box {
  display: flex;
  position: relative;
  max-width: max-content;
  max-height: max-content;

  &__background {
    z-index: 1;
  }

  &__button {
    position: absolute;
    bottom: 5%;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: none;
    cursor: pointer;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.16rem;
    color: var(--color-white);
  }
}

