.booking-button {
  position: relative;
  left: -1.5rem;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;

  &__text {
    position: absolute;
    color: var(--color-white);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.16rem;
    top: 3.5rem;
    right: 13rem;
  }

  &__arrow {
    position: relative;
    top: .3rem;
  }
}

