.info {
  width: 24.3rem;
  height: 5.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;

  &__first-row {
    align-self: end;
    font-weight: 500;
    line-height: 1.2;
  }

  &__second-row {
    font-weight: 700;
    line-height: 1.2;
  }

  &__green-point {
    height: .6rem;
    width: .6rem;
    margin-right: .5rem;
  }

  &__mode {
    font-size: 1.4rem;
  }

  &__handset-logo {
    height: 2rem;
    width: 2rem;
  }

  &__phone-number {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }
}
