.main-nav {
  font-size: 1.6rem;

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: inline-block;
  }

  &__item-border {
    border-right: 1px #E5E5E5 solid;
  }

  &__link {
    outline: none;
    text-decoration: none;
    color: var(--color-black);
  }

  &__logo {
    position: relative;
    top: 1rem;
  }
}
